{{ if default true .Site.Params.CarouselSlide.enable }}
{{ if gt (len .Site.Data.slide) 0 }}
<section>
    <div class="home-carousel">
        <div class="dark-mask"></div>
        <div class="container">
            <div class="homepage owl-carousel" data-autoplay="{{ default true .Site.Params.CarouselSlide.auto_play }}"
                data-slide-speed="{{ default 2000 .Site.Params.CarouselSlide.slide_speed }}"
                data-pagination-speed="{{ default 1000 .Site.Params.CarouselSlide.pagination_speed }}">
                {{ range sort .Site.Data.slide "weight" }}
                <div class="item">
                    <!-- {{ if .href }}
                    <a href="{{ .href }}" target="_blank" title="{{ .title | safeHTML }}">
                    {{ end }} -->
                    <div class="row">
                        <img class="img-responsive" src="{{ .image }}" alt="">
                    </div>
                    <!-- {{ if .href }}
                    </a>
                    {{ end }} -->
                </div>
                {{ end }}
            </div>
            <!-- /.project owl-slider -->
        </div>
    </div>
</section>
{{ end }}
{{ end }}